<div class="background">
  <div class="boardContainer">

    <div class="gameOverContainer"
         [hidden]="!gameOver">
      <div class="gameOverBody">
        <div class="gameOverTitle">{{title}}</div>
        <div class="gameOverSubtitle"><strong>{{subtitleBold}}</strong>{{subtitle}}</div>
      </div>
    </div>

    <div class="top">
      <div class="grudge"
           [hidden]="!topPlayer.grudge">{{topPlayer.grudge}}</div>
      <div class="grudge arena"
           [hidden]="!topPlayer.arenaScore">
        <div class="arenaScoreContainer">
          <div>{{topPlayer.arenaScore}}</div>
          <span class="arenaRank"
                [hidden]="!topPlayer.arenaScore">{{topPlayer.arenaRank}}</span>
        </div>
      </div>
      <img width="40"
           height="40"
           src="{{'https:' + topPlayer.src}}"
           (error)="imageLoadError($event)"
           [hidden]="!topPlayer.src">
      <div class="verticalStack">
        <div class="horizontalStack">
          <div class="tagline"
               [hidden]="!topPlayer.tag">{{topPlayer.tag}}</div>
          <div class="username"
               [hidden]="!topPlayer.username">{{topPlayer.username}}</div>
          <div class="rating">{{topPlayer.rating}}</div>
          <app-flag class="flag"
                    [hidden]="!topPlayer.flag"
                    country="{{topPlayer.flag}}">
          </app-flag>
        </div>

        <div class="horizontalStack alignBottom capturedContainer">
          <div class="captured-pieces-cpiece"
               *ngFor="let class of topPlayer.captured"
               [ngClass]="class"></div>

          <div class="score">{{topPlayer.score}}</div>
        </div>
      </div>

      <div class="flexPad"></div>

      <div class="clock"
           [hidden]="!topPlayer.clockTime"
           [class.active]="topPlayer.clockActive"
           [class.black]="topPlayer.clockColor">
        <div class="clockContainer">
          <div class="clockIcon"
               [class.black]="!topPlayer.clockColor"
               [hidden]="!topPlayer.clockActive"></div>
          <div class="flexPad"></div>
          <div class="clockTime">{{topPlayer.clockTime}}</div>
        </div>
      </div>
    </div>

    <div class="board"
         ngClass="{{boardClass}}">
      <div class="mouse"
           [ngClass]="mouseCursor"
           [ngStyle]="{ 'left': 'calc(' + mouseX * 100 + '% - 40px)', 'top': 'calc(' + mouseY * 100 + '% - 40px)' }"></div>
      <div *ngFor="let piece of pieces"
           class="piece"
           [ngClass]="piece.role"
           [ngStyle]="{ 'left': piece.position.x * 12.5 + '%', 'top': piece.position.y * 12.5 + '%', 'opacity': piece.opacity }"
           [class.dragging]="piece.dragging"></div>

      <div *ngFor="let highlight of highlights"
           class="highlight"
           [ngStyle]="{ 'left': highlight.position.x * 12.5 + '%', 'top': highlight.position.y * 12.5 + '%', 'opacity': highlight.opacity, 'background-color': highlight.color }"></div>

      <svg *ngFor="let arrow of arrows"
           version="1.1"
           baseProfile="full"
           xmlns="http://www.w3.org/2000/svg"
           [attr.width]="arrow.width * 800"
           [attr.height]="arrow.height * 800"
           [attr.viewBox]="arrow.viewbox"
           [style]="arrow.style"
           class="arrow-container">
        <polygon [attr.points]="arrow.points"
                 [attr.transform]="arrow.transform"
                 style="fill: rgb(255, 168, 0);"></polygon>
      </svg>

      <div class="coordinates">
        <div class="coord coord-l coord-l-1">{{bottomPlayer.clockColor ? 1 : 8}}</div>
        <div class="coord coord-l coord-l-2">{{bottomPlayer.clockColor ? 2 : 7}}</div>
        <div class="coord coord-l coord-l-3">{{bottomPlayer.clockColor ? 3 : 6}}</div>
        <div class="coord coord-l coord-l-4">{{bottomPlayer.clockColor ? 4 : 5}}</div>
        <div class="coord coord-l coord-l-5">{{bottomPlayer.clockColor ? 5 : 4}}</div>
        <div class="coord coord-l coord-l-6">{{bottomPlayer.clockColor ? 6 : 3}}</div>
        <div class="coord coord-l coord-l-7">{{bottomPlayer.clockColor ? 7 : 2}}</div>
        <div class="coord coord-l coord-l-8">{{bottomPlayer.clockColor ? 8 : 1}}</div>

        <div class="coord coord-b coord-b-1">{{bottomPlayer.clockColor ? 'h' : 'a' }}</div>
        <div class="coord coord-b coord-b-2">{{bottomPlayer.clockColor ? 'g' : 'b' }}</div>
        <div class="coord coord-b coord-b-3">{{bottomPlayer.clockColor ? 'f' : 'c' }}</div>
        <div class="coord coord-b coord-b-4">{{bottomPlayer.clockColor ? 'e' : 'd' }}</div>
        <div class="coord coord-b coord-b-5">{{bottomPlayer.clockColor ? 'd' : 'e' }}</div>
        <div class="coord coord-b coord-b-6">{{bottomPlayer.clockColor ? 'c' : 'f' }}</div>
        <div class="coord coord-b coord-b-7">{{bottomPlayer.clockColor ? 'b' : 'g' }}</div>
        <div class="coord coord-b coord-b-8">{{bottomPlayer.clockColor ? 'a' : 'h' }}</div>
      </div>
    </div>

    <div class="bottom">
      <div class="grudge"
           [hidden]="!bottomPlayer.grudge">{{bottomPlayer.grudge}}</div>
      <div class="grudge arena"
           [hidden]="!bottomPlayer.arenaScore">{{bottomPlayer.arenaScore}}
        <span class="arenaRank"
              [hidden]="!bottomPlayer.arenaScore">{{bottomPlayer.arenaRank}}</span>
      </div>
      <img width="40"
           height="40"
           src="{{'https:' + bottomPlayer.src}}"
           (error)="imageLoadError($event)"
           [hidden]="!bottomPlayer.src">
      <div class="verticalStack">
        <div class="horizontalStack">
          <div class="tagline"
               [hidden]="!bottomPlayer.tag">{{bottomPlayer.tag}}</div>
          <div class="username"
               [hidden]="!bottomPlayer.username">{{bottomPlayer.username}}</div>
          <div class="rating">{{bottomPlayer.rating}}</div>
          <app-flag class="flag"
                    [hidden]="!bottomPlayer.flag"
                    country="{{bottomPlayer.flag}}">
          </app-flag>
        </div>

        <div class="horizontalStack alignBottom capturedContainer">
          <div class="captured-pieces-cpiece"
               *ngFor="let class of bottomPlayer.captured"
               [ngClass]="class"></div>

          <div class="score">{{bottomPlayer.score}}</div>
        </div>
      </div>

      <div class="flexPad"></div>

      <div class="clock"
           [hidden]="!bottomPlayer.clockTime"
           [class.active]="bottomPlayer.clockActive"
           [class.black]="bottomPlayer.clockColor">
        <div class="clockContainer">
          <div class="clockIcon"
               [class.black]="!bottomPlayer.clockColor"
               [hidden]="!bottomPlayer.clockActive"></div>
          <div class="flexPad"></div>
          <div class="clockTime">{{bottomPlayer.clockTime}}</div>
        </div>
      </div>
    </div>
  </div>
</div>